<!-- <ion-header>
  <ion-navbar>
    <ion-title text-center>About Us</ion-title>
    <ion-buttons start>
      <button ion-button (click)="logoutme()" >  
        <ion-icon name="log-out"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->
  

<ion-content>  
  <div class="header" padding>
    <div class="logo">
      <h1>A.W.T.S. / ABOUT US</h1>
    </div>
    <div class="logout">
      <ion-icon name="log-out" (click)="logoutme()"></ion-icon>
    </div>
  </div>
  <div>
      <ion-grid no-padding>
          	<ion-row no-padding class="prime">
              <ion-col col-12 no-margin no-padding>
                  <h2 class="b" text-center margin-top>Automated Water Tank System</h2>
                  <h5 class="b" text-center margin-bottom>Version 0.01</h5>
              </ion-col>
              <ion-col col-12 no-margin no-padding><div class="y"></div></ion-col>
              <ion-col class="login-logo" no-padding margin-vertical>
                <img class="photo" src="assets/imgs/icon.png"> 
              </ion-col>
              <ion-col col-12 no-margin no-padding><div class="y"></div></ion-col>
              <ion-col col-12 no-margin no-padding>
                  <h4 class="b" text-center margin-top>Made with <ion-icon name="heart" color="danger"></ion-icon> in Gordon College</h4>
              </ion-col>
            </ion-row>
            <div class="white">
	            <ion-row no-padding class="white">
	                <ion-col col-12 no-margin no-padding>
	                    <h2 text-center margin-top>Our Developers</h2>
	                </ion-col>
	                <ion-col col-12 margin-bottom no-padding><div class="x"></div></ion-col>
	                <ion-col col-12 class="login-logo" padding>
	                  <img src="assets/imgs/joshua.jpg" class="photo">   
	                </ion-col>
	                <ion-col col-12 no-margin no-padding>
	                  <h4 text-center margin-top no-margin>Daniel Joshua M. Umandap</h4>
	                  <h6 text-center no-margin class="position">Team Hustler</h6>
	                  <p text-justify margin-horizontal padding-horizontal class="description">Daniel founded the Wet Boys back in 2018. He is the over-all in-charge of the team planning, presentations and pitching. He is also a man who has a great passion in graphic arts.</p>
	                  <h5 text-center><a href="https://t.co/16KbjKA2EY"><ion-icon name="logo-facebook" color="facebook"></ion-icon></a> &nbsp; <a href="https://twitter.com/danielumandap"><ion-icon name="logo-twitter" color="twitter"></ion-icon></a>  &nbsp; <a href="https://plus.google.com/109939841976188912118"><ion-icon name="logo-googleplus" color="google-plus"></ion-icon></a></h5>
	                </ion-col>
	                <ion-col col-12 margin-bottom no-padding><div class="x"></div></ion-col>
	                <ion-col col-6 offset-3 class="login-logo" padding-top>
	                  <img src="assets/imgs/cabs2.jpg" class="photo">      
	                </ion-col>
	                <ion-col col-12 no-margin no-padding>
	                  <h4 text-center margin-top no-margin>Justin H. Cabrera</h4>
	                  <h6 text-center no-margin class="position">Team Engineer</h6>
	                  <p text-justify margin-horizontal padding-horizontal class="description">Justin co-founded the Wet Boys back in 2018. He is the team Engineer and the over-all in-charge in the technical aspects of the project. He also has a great passion in graphic arts.</p>
	                  <h5 text-center><a href="https://t.co/16KbjKA2EY"><ion-icon name="logo-facebook" color="facebook"></ion-icon></a> &nbsp; <a href="https://twitter.com/danielumandap"><ion-icon name="logo-twitter" color="twitter"></ion-icon></a>  &nbsp; <a href="https://plus.google.com/109939841976188912118"><ion-icon name="logo-googleplus" color="google-plus"></ion-icon></a></h5>
	                </ion-col>
	                <ion-col col-12 margin-bottom no-padding><div class="x"></div></ion-col>
	                <ion-col col-6 offset-3 class="login-logo" padding-top>
	                  <img src="assets/imgs/raniel.jpg" class="photo">      
	                </ion-col>
	                <ion-col col-12 no-margin no-padding>
	                  <h4 text-center margin-top no-margin>Raniel R. Lambaco</h4>
	                  <h6 text-center no-margin class="position">Designer</h6>
	                  <p text-justify margin-horizontal padding-horizontal class="description">Raniel is one of the three founding members of the Wet Boys back in 2018. He is the team's designer. He designed and won the best poster last GC-CCS Ideation.</p>
	                  <h5 text-center><a href="https://t.co/16KbjKA2EY"><ion-icon name="logo-facebook" color="facebook"></ion-icon></a> &nbsp; <a href="https://twitter.com/danielumandap"><ion-icon name="logo-twitter" color="twitter"></ion-icon></a>  &nbsp; <a href="https://plus.google.com/109939841976188912118"><ion-icon name="logo-googleplus" color="google-plus"></ion-icon></a></h5>
	                </ion-col>
	                <ion-col col-12 margin-bottom no-padding><div class="x"></div></ion-col>
	                <ion-col col-6 offset-3 class="login-logo" padding-top>
	                  <img src="assets/imgs/HACKERMAN.jpg" class="photo">      
	                </ion-col>
	                <ion-col col-12 no-margin no-padding>
	                  <h4 text-center margin-top no-margin>Ian E. Sison</h4>
	                  <h6 text-center no-margin class="position">Hacker</h6>
	                  <p text-justify margin-horizontal padding-horizontal class="description">Ian is the newest member of the team. He is involved in the development of back-end projects of Automatic Water Tank System.</p>
	                  <h5 text-center><a href="https://t.co/16KbjKA2EY"><ion-icon name="logo-facebook" color="facebook"></ion-icon></a> &nbsp; <a href="https://twitter.com/danielumandap"><ion-icon name="logo-twitter" color="twitter"></ion-icon></a>  &nbsp; <a href="https://plus.google.com/109939841976188912118"><ion-icon name="logo-googleplus" color="google-plus"></ion-icon></a></h5>
	                </ion-col>
	            </ion-row>
            </div>


      </ion-grid>
  </div>     


</ion-content>