page-about {
    ion-content{
        background: rgba(73,155,234,1);
        background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
        background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    }
    .photo {
        display: block; 
        margin: 0 auto; 
        width: 150px; 
        height: 150px;
        border-radius: 100%;
        border: 3px solid #fff;
    }
    .header{
        height: 20px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .logout{
        float: right;
        width: 30%;
    }
    .logout ion-icon{
        float: right;
        font-size: 20px;
        color: white;
    }
    .logo{
        float: left;
        width: 70%;
    }
    .logo h1{
        font-size: 16px;
        color: white;
        letter-spacing: 3px;
    }

    .top {
        height: 50%;
        background: #1ca3ec;
        opacity: .5;
        line-height: 0px;
    }
    
    .card {
        border-radius: 0px;
    }
    
    ion-title {
        font-family: 'Montserrat', sans-serif;
    }
    
    .sa{
        font-family: 'Montserrat', sans-serif; 
    }
    
    .x{
        margin:0 auto;
        height: 20px;
        width: 2.5px;
        background: #488AFF;
        position: relative;
    }

    .y{
        margin:0 auto;
        height: 20px;
        width: 2.5px;
        background: #dff9fb;
        position: relative;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: 'Roboto', sans-serif; 
        font-weight: 300;
    }

    .b{
        color: #fff;
    }
    
    h2{
        font-weight: 200;
    }
    
    h5{
        font-weight: 50;
    }
    
    h6{
        font-weight: 200; 
    }
    
    .position{
        color: grey;
    }
    
    .white{
        background: #fff;
        color: #000;
        margin: 3px 0;
    }
    .prime{
        margin-bottom: 3px;
    }

}