<!--
  Generated template for the LoginPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  
  <ion-navbar class="center">
    <ion-title >AWTS</ion-title>
  </ion-navbar>
  
</ion-header> -->


<ion-content padding>
  <ion-row no-padding>
    <ion-col col-12 class="login-logo" no-padding>
      <img class="photo" src="assets/imgs/smartwatertank.png" no-margin no-padding>      
      <!-- <img width="75px" height="75px" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c526.png">      -->
    </ion-col>
  </ion-row>
  <ion-row no-padding>
    <ion-col col-12>
      <h1 text-center style="font-weight: 100;">Welcome to <br no-margin no-padding>Automated Water Tank System</h1>
    </ion-col>
  </ion-row>
  
  <ion-list no-padding>
    <ion-item>
      <ion-label floating>Username/Email</ion-label>
      <ion-input type="text" [(ngModel)]="vusername"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label floating>Password</ion-label>
      <ion-input type="{{type}}" name="password" [(ngModel)]="vpassword"></ion-input>
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye-off"></ion-icon></button>
 <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye"></ion-icon></button>
    </ion-item>
    
  </ion-list>
  
  
  
  <div padding-horizontal margin-horizontal>
    <button ion-button block (click)="signin()">Sign In</button>
  </div>
  <div padding class="span-txt" text-center >
    <a  (click)="signup()"> Dont have an Account Yet? </a> 
  </div>
</ion-content>
