page-login {
    .photo {
        display: block; 
        margin: 0 auto; 
        width: 140px; 
        height: 140px;
        border-radius: 100%;
        border: 3px solid transparent;
        padding: 0;
    }
}
