<!--
  Generated template for the SettingPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  
  <ion-navbar>
    <ion-title text-center>Settings</ion-title>
    <ion-buttons start>
        <button ion-button (click)="logoutme()" >  
          <ion-icon name="log-out"> </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header> -->


<ion-content padding>
  <div class="header">
    <div class="logo">
      <h1>A.W.T.S. / SETTING</h1>
    </div>
    <div class="logout">
      <ion-icon name="log-out" (click)="logoutme()"></ion-icon>
    </div>
  </div>
  <div class="personal-details">
    <div class="avatar"><ion-img src="assets/imgs/person-flat.png" style="border:2px solid #fff; border-radius:100%; width: 100px;height: 100px;"></ion-img></div>
    <div class="details">
      <p>Name: {{fname}} {{lname}}</p>
      <p>Email: {{email}}</p>
      <p>Device ID: {{deviceId}}</p>
    </div>
  </div>
  <ion-list color="warning">
    <ion-item color="warning">
      <ion-label stacked style="color:#fff;">Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="vCurrentPass" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked style="color:#fff;">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="vNewPass" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked style="color:#fff;">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="vConfirmNewPass" required></ion-input>
    </ion-item>

    <ion-item>

      </ion-item>
  </ion-list>
  <button ion-button block color="twitter" (click)="updatePass()">Update Password</button>
</ion-content>
