<ion-tabs tabsHighlight tabsPlacement="bottom" tabsLayout="icon-top">
  <ion-tab [root]="tab1Root" tabTitle="HOME" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="SETTINGS" tabIcon="settings"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="ABOUT" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="HELP" tabIcon="help"></ion-tab>
</ion-tabs>
