<!-- <ion-header>
  <ion-navbar>
    <ion-title text-center>Home</ion-title>
    <ion-buttons start>
      <button ion-button (click)="logoutme()" >  
        <ion-icon name="log-out"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="header">
    <div class="logo">
      <h1>A.W.T.S. / HOME</h1>
    </div>
    <div class="logout">
      <ion-icon name="log-out" (click)="logoutme()"></ion-icon>
    </div>
  </div>
	<div class="tank">
    <div class="circle">{{ percentage }}%  {{ number }}</div>
    <div class="text">3 MONTHS<br>BEFORE CLEANING</div>
   
		<div class="wave" [style.height]="dynamicHeight"></div>
  </div>
  
</ion-content>
