page-home {
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Roboto|Oxygen');
ion-content{
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
}
.header{
	height: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
}
.logout{
	float: right;
	width: 30%;
}
.logout ion-icon{
	float: right;
	font-size: 20px;
	color: white;
}
.logo{
	float: left;
	width: 70%;
}
.logo h1{
	font-size: 16px;
	color: white;
	letter-spacing: 3px;
}
.tank {
	/*padding: 20px;*/
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
	width: 240px;
	height: 440px;
	border-radius: 150px/50px;
	border: 5px solid rgba(236, 240, 241,1.0);
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	z-index: -3;
}

// .tank:before {
// 	position: absolute;
// 	left: -10px;
// 	top: 35px;
// 	width: 280px;
// 	height: 10px;
// 	border-radius: 125px/50px;
// 	border: 3px solid #000;
// 	/*background-color: rgba(160, 160, 160, 0.2);*/
// 	/*background-color: rgba(52, 73, 94,0.2);*/
// 	background-color: rgba(236, 240, 241, 0.5);
// 	content: '';
// }

// .tank:after {
// 	position: absolute;
// 	left: -10px;
// 	bottom: 35px;
// 	width: 280px;
// 	height: 10px;
// 	/*border-radius: 125px/50px;*/
// 	border: 3px solid #000;
// 	/*background-color: rgba(160, 160, 160, 0.4);*/
// 	/*background-color: rgba(52, 73, 94,0.2);*/
// 	background-color: rgba(236, 240, 241, 0.5);
// 	content: '';
// }

.wave{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 240px;
	height: 220px;
	padding-top: 0px;
	background-color: rgba(130, 204, 221,1.0);
	transition: 0.3s linear;
  box-shadow: inset 0 0 50 rgba(0,0,0,1);
  z-index: -2;
}
// .wave:before,
// .wave:after{
//   content: '';
//   position:absolute;
//   width: 400%;
//   height:400%;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: #000;
//   z-index: -12;
// }

// .wave:before{
//   border-radius: 43%;
// 	background: rgba(255, 255, 255, 1);
// 	// background: black;
//   animation: animate 6s linear infinite;
// }

// .wave:after{
//   border-radius: 43%;
//   background: rgba(255, 255, 255, .5);
//   animation: animate 6s linear infinite;
// }

.text {
	position: relative;
	top: 1%;
	left: 0;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
	color: rgba(236, 240, 241,1.0);
	z-index: 1;
	font-family: 'Oxygen', sans-serif;
}

.circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  border: 5px solid rgba(236, 240, 241,1.0);
  -webkit-border-radius: 50%;
  text-align: center;
  color: rgba(236, 240, 241,1.0);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 50px;
  z-index: 1;
  font-family: 'Roboto',sans-serif;
  margin: 0 auto;
  margin-top: 45%;
  background-color: rgba(236, 240, 241, 0.2);
}

@-moz-keyframes animate{
  0%{
    transform: translate(-50%, -99%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -99%) rotate(360deg);
  }
}

@-webkit-keyframes animate{
  0%{
    transform: translate(-50%, -99%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -99%) rotate(360deg);
  }
}

@-o-keyframes animate{
  0%{
    transform: translate(-50%, -99%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -99%) rotate(360deg);
  }
}

@keyframes animate{
  0%{
    transform: translate(-50%, -98.9%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -98.9%) rotate(360deg);
  }
}
}
