
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  mycolor: #488AFF,
  // custom colors
  tabcolors:#2c3e50,
  facebook: #4267B2,
  twitter: #1DA1F2,
  google-plus:#EB4235
);

// $font-family-base:"Oxygen",san-serif !default;
//top toolbar
$toolbar-md-background:color($colors, primary);

//tabs
$tabs-md-background:color($colors,light);
$tabs-md-tab-color-active:color($colors,mycolor);
$tabs-md-tab-color:color($colors,light);
$tabs-md-tab-text-color:color($colors,tabcolors);

$list-wp-background-color:color($colors,light);

@import "ionic.theme.default";
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

