page-help{
    ion-content{
        background: rgba(73,155,234,1);
        background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
        background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
        background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    }
    p{
        color: #fff;
        font-size: 15px;
    }
    .header{
        height: 20px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .logout{
        float: right;
        width: 30%;
    }
    .logout ion-icon{
        float: right;
        font-size: 20px;
        color: white;
    }
    .logo{
        float: left;
        width: 70%;
    }
    .logo h1{
        font-size: 16px;
        color: white;
        letter-spacing: 3px;
    }
}