<!--
  Generated template for the HelpPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  
  <ion-navbar>
    <ion-title text-center>Help Center</ion-title>
    <ion-buttons start>
      <button ion-button (click)="logoutme()" >  
        <ion-icon name="log-out"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header> -->


<ion-content padding>
  <div class="header">
    <div class="logo">
      <h1>A.W.T.S. / HELP</h1>
    </div>
    <div class="logout">
      <ion-icon name="log-out" (click)="logoutme()"></ion-icon>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
       <p><b> Q: How does the application work?</b> <br>
        - We make use of ultrasonic sensors placed within the lid of the tank in order to determine
        the distance between the water and the highest point of the tank and determine 
        the water level using that information. If the water rises above a certain level inside the tank,
        it will automatically stop pumping water,
        thus preventing overflowing of water and saving it in the process.</p>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
       <p><b> Q: Are the sensors harmful to the water?</b> <br>
       - Not at all. Ultrasonic sensors generate sounds in a high frequency that can't be heard by humans and calculates the distance of an object based on how fast the echo bounces back to the sensors. There is no risk of the water inside the tank being poisoned since it just generates sound and not something harmful like radiation.</p>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
       <p><b>Q: How accurate are ultrasonic sensors in determining water levels?</b> <br>
       - Ultrasonic sensors generate sounds that bounce back even from the surface of water. This guarantees that the ultrasonic sensors are a great and accurate way to determine the distance of objects, even water.</p>
       
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
       <p><b>Q: Can I manually turn off the pumping of water?</b> <br>
       - No, you cannot. Our application is made with the concept of people saving time, water, and relieves them of the worry of checking their water tank again and again. If we included manual operations, that would go against our concept of building an automated water tank.</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
