<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Complete Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Basic Information</h4>
  <ion-list>
 <ion-row>
   <ion-col col-6>
    <ion-item>
    <ion-label floating>Firstname</ion-label>
    <ion-input type="text" [(ngModel)]="vfname"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col col-6>
      <ion-item>
    <ion-label floating>Lastname</ion-label>
    <ion-input type="text" [(ngModel)]="vlname"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>
    
    <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="vemail"></ion-input>
    </ion-item>
    
    <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="vpassword"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="vComPassword"></ion-input>
    </ion-item>

    <h4>Device Information</h4>
    <ion-item>
        <ion-label floating>Device ID:</ion-label>
        <ion-input type="text" [(ngModel)]="vdevice_id"></ion-input>
      </ion-item>
    </ion-list>
    
    <div padding>
      <button ion-button block (click)="signup()">Create Account</button>
    </div>
</ion-content>
